# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** List popular languages for Data Science
- Python
- R
- SQL
- Scala
- Java
- C++
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib

| Data Science Tools  |
| ------------------- |
| MySQL |
| PostgreSQL |
| MongoDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Yuliia Yatsenko