# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- Create markdown cell
- Create an ordered list to markdown cell
- Create a code cell 
- Create a heading style

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Matplotlib

| Data Science Tools  |
| ------------------- |
| Jupyter Notebook |
| Anaconda |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author 
Yuliia Yatsenko